{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="page-header">
        <h1>
            {% blocktrans with user=user%}
                Balance of {{ user }}
            {% endblocktrans %}
        </h1>
    </div>

    <p>
        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4">
                <div class="btn-toolbar pull-right no-margin">
                    <div class="btn-group">
                        <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#modal-range">
                            {% trans 'Change range' %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </p>

    {% include 'includes/bierapp_balance_table.html' %}

    {% include 'includes/modal_range_form.html' %}
{% endblock content %}