{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}

{% block head %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#button-filters-submit").click(function(e) {
                e.preventDefault();
                $("#modal-filters form").submit();
            });

            $("#button-export-submit").click(function(e) {
                e.preventDefault();
                $("#modal-export form").submit();
            });
        });
    </script>
{% endblock head %}

{% block content %}
    <div class="page-header">
        <h1>{% trans 'Transactions' %}</h1>
    </div>

    <p>
        <div class="row">
            <div class="col-md-8">
                {% if transactions|length > 0 %}
                    {% blocktrans with start=transactions.start_index end=transactions.end_index total=transactions.paginator.count %}
                        Displaying results {{ start }}-{{end}} of {{ total }}.
                    {% endblocktrans %}
                {% endif %}
            </div>
            <div class="col-md-4">
                <div class="btn-toolbar pull-right no-margin">
                    <div class="btn-group">
                        <a class="btn btn-success" href="{% url 'bierapp.core.views.transaction_create' %}">
                            {% trans 'Add transaction' %}
                        </a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#modal-filters">
                            {% trans 'Change filters' %}
                        </a>
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" data-toggle="modal" data-target="#modal-export">
                                    {% trans 'Export' %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </p>

    {% include 'includes/bierapp_transaction_table.html' %}

    {% include 'paginator.html' with objects=transactions %}

    <div id="modal-filters" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>{% trans 'Filters' %}</h3>
                </div>
                <div class="modal-body">
                    <p>
                        Dates are in YYYY-MM-DD format.
                    </p>

                    {% crispy form_filter %}
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn btn-default">{% trans 'Close' %}</a>
                    <a href="#" id="button-filters-submit" class="btn btn-primary">{% trans 'Apply' %}</a>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-export" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>{% trans 'Export' %}</h3>
                </div>
                <div class="modal-body">
                    {% crispy form_export %}
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn btn-default">{% trans 'Close' %}</a>
                    <a href="#" id="button-export-submit" class="btn btn-primary">{% trans 'Export' %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}