{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="page-header">
        <h1>{% trans 'Balance by user' %}</h1>
    </div>

    <p>
        <div class="row">
            <div class="col-md-8">
                {% blocktrans %}
                    This is a summary of the balances for all members of this site. Click a user to retrieve more information.
                {% endblocktrans %}
            </div>
            <div class="col-md-4">
                <div class="btn-toolbar pull-right no-margin">
                    <div class="btn-group">
                        <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#modal-range">
                            {% trans 'Change range' %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{% trans 'User' %}</th>
                <th>{% trans 'Product group' %}</th>
                <th>{% trans 'Value' %}</th>
                <th>{% trans 'In stock' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                {% cycle 'odd' 'even' as row_color silent %}

                {% for product_group in user.product_groups %}
                    {% if forloop.counter == 1 %}
                        <tr class="{{ row_color }}">
                            <td rowspan="{{ user.product_groups|length }}">
                                <a href="{% url 'core:balance_user' id=user.pk %}">
                                    {% if request.user == user %}
                                        <b>{{ user }}</b>
                                    {% else %}
                                        {{ user }}
                                    {% endif %}
                                </a>
                            </td>
                            <td>{{ product_group }}</td>
                            <td>{{ product_group.total_value }}</td>
                            <td>
                                {{ product_group.total_count }}

                                {% if product_group.total_count_change > 0 %}
                                    <span class="glyphicon glyphicon-arrow-up glyphicon-inline glyphicon-success" title="{{ product_group.total_count_change }}"></span>
                                {% elif product_group.total_count_change < 0 %}
                                    <span class="glyphicon glyphicon-arrow-down glyphicon-inline glyphicon-danger" title="{{ product_group.total_count_change }}"></span>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr class="{{ row_color }}">
                            <td>{{ product_group }}</td>
                            <td>{{ product_group.total_value }}</td>
                            <td>
                                {{ product_group.total_count }}

                                {% if product_group.total_count_change > 0 %}
                                    <span class="glyphicon glyphicon-arrow-up glyphicon-inline glyphicon-success" title="{{ product_group.total_count_change }}"></span>
                                {% elif product_group.total_count_change < 0 %}
                                    <span class="glyphicon glyphicon-arrow-down glyphicon-inline glyphicon-danger" title="{{ product_group.total_count_change }}"></span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>

    {% include 'includes/modal_range_form.html' %}
{% endblock content %}
