{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}

{% block content %}
    <div class="page-header">
        <h1>{% trans 'Transactions' %}</h1>
    </div>

    <p>
        <div class="row">
            <div class="col-md-8">
                {% if transactions|length > 0 %}
                    {% blocktrans with start=transactions.start_index end=transactions.end_index total=transactions.paginator.count %}
                        Displaying results {{ start }}-{{end}} of {{ total }}.
                    {% endblocktrans %}
                {% endif %}
            </div>
            <div class="col-md-4">
                <div class="btn-toolbar pull-right no-margin">
                    <div class="btn-group">
                        <a class="btn btn-success" href="{% url 'core:transaction_create' %}">
                            {% trans 'Add transaction' %}
                        </a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#modal-filters">
                            {% trans 'Change filters' %}
                        </a>
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" data-toggle="modal" data-target="#modal-export">
                                    {% trans 'Export' %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </p>

    {% include 'includes/bierapp_transaction_table.html' %}

    {% include 'paginator.html' with objects=transactions %}

    {% include 'includes/modal_filters_form.html' %}
    {% include 'includes/modal_export_form.html' %}
{% endblock content %}