{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="page-header">
        <h1>{% trans 'Product group' %}: {{ product_group.title }}</h1>
    </div>

    <p>
        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4">
                <div class="btn-toolbar pull-right no-margin">
                    <div class="btn-group">
                        {% if request.membership.is_admin %}
                            <a class="btn btn-success" href="{% url 'core:product_group_product_create' id=product_group.pk %}">
                                {% trans 'Add product' %}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{% trans 'Title' %}</th>
                <th>{% trans 'Value' %}</th>
                {% if request.membership.is_admin %}
                    <th>{% trans 'Hidden' %}</th>
                {% endif %}
                <th>{% trans 'Actions' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></td>
                    <td>{{ product.value }}</td>
                    {% if request.membership.is_admin %}
                        <td>{{ product_group.is_hidden|yesno:"Yes,No" }}</td>
                    {% endif %}
                    <td></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="{% if request.membership.is_admin %}4{% else %}3{% endif %}">
                        {% trans 'No products to show' %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'paginator.html' with objects=products %}
{% endblock content %}