{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="page-header">
        <h1>{% trans 'Activate invite' %}</h1>
    </div>

    {% if invite %}
        {% if accept %}
            <div class="alert alert-info">
                {% blocktrans with name=invite.site %}
                    You have joined {{ name }}.
                {% endblocktrans %}
            </div>

            <a href="{% url 'accounts:site' site_id=invite.site.id as url %}">Go to site</a>
        {% else %}
            <div class="alert alert-info">
                {% blocktrans with name=invite.site %}
                    You have refused the invite for {{ name }}.
                {% endblocktrans %}
            </div>

            <a href="{% url 'accounts:sites' %}">Go to sites</a>
        {% endif %}
    {% else %}
        <div class="alert alert-error">
            {% trans 'Invalid or expired invite.' %}
        </div>

        <a href="{% url 'accounts:sites' %}">Go to sites</a>
    {% endif %}
{% endblock content %}