{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="page-header">
        <h1>{% trans 'Registration completed' %}</h1>
    </div>

    <p>
        {% url 'bierapp.accounts.views.index' as profile_url %}

        {% blocktrans %}
            Your account is created. Be sure to create a site, or inform others to invite you!
        {% endblocktrans %}
    </p>

    <a href="{% url 'bierapp.accounts.views.profile' %}">{% trans 'Go to profile' %}</a>
{% endblock content %}