{% extends 'base_landing.html' %}
{% load i18n crispy_forms_tags %}

{% block head %}{% endblock head %}

{% block content %}
    <div class="vertical-center"
        <div class="container">
            <div class="center-block" style="width: 360px">
                <div class="row panel">
                    <div class="col-lg-12">
                        <h1 class="margin-base-vertical">
                            {% trans 'Dinner is ready!' %}
                        </h1>

                        <p>
                            {% blocktrans %}
                                BierApp is a drink management platform for student houses. Management, statistics and more with
                                a few easy clicks.
                            {% endblocktrans %}
                        </p>

                        <p>
                            {% blocktrans %}
                                Login, or create a new account. It's for free!
                            {% endblocktrans %}
                        </p>

                        {% crispy form %}

                        <ul class="list-unstyled">
                            <li>
                                <a href="{% url 'accounts:register' %}">{% trans 'Register new account' %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans 'Forgot password' %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
