{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}

{% block content %}
    <div class="page-header">
        <h1>
            {% if membership.is_admin %}
                {% trans 'Invite guest or member' %}
            {% else %}
                {% trans 'Invite member' %}
            {% endif %}
        </h1>
    </div>

    <p>
        {% blocktrans with name=membership.site %}
            Enter email address of the user to invite for {{ name }} and click submit.
        {% endblocktrans %}
    </p>

    {% crispy form %}
{% endblock content %}