{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="page-header">
        <h1>{% trans 'Site' %}: {{ site }}</h1>
    </div>

    {% if membership.is_member %}
        <p>
            <div class="row">
                <div class="col-md-8">
                    {% trans 'The following users are a member of this site. An admin can invite new users to this site.' %}
                </div>
                <div class="col-md-4">
                    <div class="btn-toolbar pull-right no-margin">
                        {% if membership.is_member %}
                            <a class="btn btn-success" href="{% url 'bierapp.accounts.views.site_invite' site_id=site.id %}">
                                {% if is_admin %}
                                    {% trans 'Invite guest or member' %}
                                {% else %}
                                    {% trans 'Invite guest' %}
                                {% endif %}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </p>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>{% trans 'User' %}</th>
                    <th>{% trans 'Created' %}</th>
                    {% if is_admin %}
                        <th>{% trans 'Modified' %}</th>
                    {% endif %}
                    <th>{% trans 'Role' %}</th>
                    {% if is_admin %}
                        <th>{% trans 'Hidden' %}</th>
                    {% endif %}
                    <th>{% trans 'Actions' %}</th>
                </tr>
            </thead>
            <tbody>
                {% if memberships|length > 0 or membership_invites|length > 0 %}
                    {% for membership in memberships %}
                        <tr class="{{ membership.is_hidden|yesno:"italics," }}">
                            <td>{{ membership.user }}</td>
                            <td>
                                {{ membership.created|date:"Y-m-d H:i" }}
                            </td>
                            {% if is_admin %}
                                <td>
                                    {{ membership.created|date:"Y-m-d H:i" }}
                                </td>
                            {% endif %}
                            <td>
                                {% if membership.is_admin %}
                                    {% trans 'Admin' %}
                                {% elif membership.is_member %}
                                    {% trans 'Member' %}
                                {% elif membership.is_guest %}
                                    {% trans 'Guest' %}
                                {% endif %}
                            </td>
                            {% if is_admin %}
                                <td>
                                    {% if membership.is_hidden %}
                                        {% trans 'Yes' %}
                                    {% else %}
                                        {% trans 'No' %}
                                    {% endif %}
                                </td>
                            {% endif %}
                            <td>

                            </td>
                        </tr>
                    {% endfor %}

                    {% for membership_invite in membership_invites %}
                        <tr>
                            <td>{{ membership_invite.email }}</td>
                            <td>{{ membership_invite.created|date:"Y-m-d H:i" }}</td>
                            {% if is_admin %}
                                <td></td>
                            {% endif %}
                            <td>
                                {% trans 'Invited' %}
                            </td>
                            {% if is_admin %}
                                <td></td>
                            {% endif %}
                            <td>
                                {% if is_admin %}
                                    <a class="btn btn-danger" href="{% url 'bierapp.accounts.views.site_invite_revoke' site_id=site.id invite_id=membership_invite.id %}">
                                        {% trans 'Revoke invite' %}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="{% if is_admin %}5{% else %}3{% endif %}">
                            {% trans 'No members or invited members to show.' %}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    {% else %}
        <p>
            {% blocktrans with date=membership.created|date:"Y-m-d H:i" %}
                You are a guest since {{ date }}. There are no options for you here.
            {% endblocktrans %}
        </p>
    {% endif %}
{% endblock content %}