{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="page-header">
        <h1>{% trans 'Activate invite' %}</h1>
    </div>

    {% if invite %}
        <div class="alert alert-info">
            {% blocktrans with name=invite.site %}
                You have joined {{ name }}.
            {% endblocktrans %}
        </div>

        {% url 'bierapp.accounts.views.site' id=invite.site.id as url %}
        {% blocktrans %}
            Click <a href="{{ url }}">here</a> to visit site.
        {% endblocktrans %}
    {% else %}
        <div class="alert alert-error">
            {% trans 'Invalid or expired invite.' %}
        </div>
    {% endif %}
{% endblock content %}