{% load i18n static %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <title>BierApp</title>

        <meta name="description" content="BierApp, consumptieregistratie voor studentenhuizen.">
        <meta name="author" content="Bas Stottelaar">

        <!-- Style -->
        {% if UNCOMPILED_RESOURCES %}
            <link rel="stylesheet/less" href="{% static 'bootstrap/less/bootstrap.less' %}">
            <script type="text/javascript" src="{% static 'less.js/dist/less-1.5.1.js' %}"></script>
        {% else %}
            <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}">
        {% endif %}

        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        <!-- Scripts -->
        {% if UNCOMPILED_RESOURCES %}
            <script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
            <script type="text/javascript" src="{% static 'moment/moment.js' %}"></script>
        {% else %}
            <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'moment/min/moment.min.js' %}"></script>
        {% endif %}

        <style type="text/css">
        /* Flatten das boostrap */
            .well, .navbar-inner, .popover, .btn, .tooltip, input, select, textarea, pre, .progress, .modal, .add-on, .alert, .table-bordered, .nav>.active>a, .dropdown-menu, .tooltip-inner, .badge, .label, .img-polaroid {
                -moz-box-shadow: none !important;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
                -webkit-border-radius: 0px !important;
                -moz-border-radius: 0px !important;
                border-radius: 0px !important;
                border-collapse: collapse !important;
                background-image: none !important;
            }

            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
            .sidebar-nav {
                padding: 9px 0;
            }

            .strike-through {
                text-decoration: line-through;
            }

            .line-width {
                width: 100%;
            }

            .no-margin {
                margin: 0;
            }

            td span.badge-show-hover {
                opacity: 0.2;
            }

            td span.badge-show-hover:hover, td.dropdown.open span.badge-show-hover {
                opacity: 1.0;
            }

            table tr.odd {
                background-color: #f9f9f9;
            }
        </style>

        <!-- Favicons -->
        <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png">

        {% block head %}{% endblock head %}
    </head>
    <body>
        {% block navbar %}
            <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
                <div class="container">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                            <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="{% url 'bierapp.core.views.index' %}" class="navbar-brand">BierApp</a>
                    </div>

                    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                        <ul class="nav navbar-nav navbar-left">
                            {% if request.user.is_authenticated %}
                                {% if request.membership.is_member %}
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            {% trans 'Balance' %} <b class="caret"></b>
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="{% url 'bierapp.core.views.balance_users' %}">{% trans 'By users' %}</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'bierapp.core.views.balance_products' %}">{% trans 'By products' %}</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="{% url 'bierapp.core.views.transactions' %}">{% trans 'Transactions' %}</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'bierapp.core.views.stats' %}">{% trans 'Statistics' %}</a>
                                    </li>
                                    {% if request.membership.is_admin %}
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                {% trans 'Manage' %} <b class="caret"></b>
                                            </a>

                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="{% url 'bierapp.core.views.product_groups' %}">{% trans 'Product groups' %}</a>
                                                </li>
                                                {% comment %}
                                                <li>
                                                    <a href="{% url 'bierapp.core.views.transaction_templates' %}">{% trans 'Transaction templates' %}</a>
                                                </li>
                                                {% endcomment %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            {% if request.user.is_authenticated %}
                                {% if request.site %}
                                    <li>
                                        <a href="{{ request.site.get_absolute_url }}">
                                            <i class="glyphicon glyphicon-home glyphicon-white"></i>
                                            {{ request.site }}
                                        </a>
                                    </li>
                                {% endif %}
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="glyphicon glyphicon-user glyphicon-white"></i> {{ request.user }}
                                        <b class="caret"></b>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{% url 'bierapp.accounts.views.profile' %}">{% trans 'My Profile' %}</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'bierapp.accounts.views.sites' %}">{% trans 'My Sites' %}</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'bierapp.accounts.views.invites' %}">
                                                {% trans 'My Invites' %}

                                                {% if request.membership_invites|length > 0 %}
                                                    <span class="badge pull-right">{{ request.membership_invites|length }}</span>
                                                {% endif %}
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="{% url 'bierapp.accounts.views.logout' %}">{% trans 'Logout' %}</a>
                                        </li>
                                    </ul>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{% url 'bierapp.accounts.views.login' %}">
                                        {% trans 'Login or register' %}
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{% url 'bierapp.core.views.help' %}" title="{% trans 'Help' %}">
                                    <i class="glyphicon glyphicon-question-sign glyphicon-white"></i> &nbsp;
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
        {% endblock navbar %}

        <div class="container">
            {% block navbar_sec %}{% endblock navbar_sec %}

            {% block notifications %}
                {% if messages %}
                    <div class="notifications center top"></div>

                    <script type="text/javascript">
                        {% for message in messages %}
                            $(document).ready(function() {
                                $(".notifications.center.top").notify({
                                    message: {
                                        text: "{{ message }}"
                                    },
                                }).show();
                            });
                        {% endfor %}
                    </script>
                {% endif %}
            {% endblock notifications %}

            {% block content %}{% endblock content %}
        </div>

        {% if UNCOMPILED_RESOURCES %}
            <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
            <script type="text/javascript" src="{% static 'eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.js' %}"></script>
        {% else %}
            <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
        {% endif %}

        <script type="text/javascript" src="{% static 'bootstrap-notify/js/bootstrap-notify.js' %}"></script>

        <script type="text/javascript">
            $(function () {
                $(".datetimepicker").datetimepicker({
                    locale: "{{ LANGUAGE_CODE }}",
                    format: 'YYYY-MM-DD HH:MM'
                });

                $(".datepicker").datetimepicker({
                    locale: "{{ LANGUAGE_CODE }}",
                    format: 'YYYY-MM-DD'
                });
            });
        </script>
    </body>
</html>
